html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: cadetblue;
}
h2 {
  color: rgb(23, 128, 132);
  text-shadow: 4px 1px 2px #dad9d9;

}
b {
  color: rgb(23, 128, 132);
}
.container, .header {
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  padding: 10px 45px;
}
.header {
  background-color: rgb(23, 128, 132);
  color: #fff;
  border-bottom: 5px solid #fceb9f;
  -webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */  
}
.header-subtext {
  font-family: cursive;
  color: #fceb9f;
  font-size: 16px;
}
.item-subheader {
	max-width: 1100px;
	margin-top: -10px;
	margin-bottom: 10px;
	width: 1100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 320px;
}
.links a {
  margin: 0 10px 0 10px;
  color: #fff;
  text-decoration: none;
}

.links a:first-child {
  margin-left: 0px;

}
.links a:nth-child(2) {
  white-space: nowrap;
}

.links a:hover {
  text-decoration: underline;
}
@media (max-width: 600px) {
  .item-subheader {
    display: inline;
  }
  .item-subheader div:first-child{
    margin-bottom: 10px;
  }
  .logo {
    margin-bottom: -10px;
  }
}

.search-form {
  display: flex;
  align-items: center;
}
.search-input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}
.search-button {
  padding: 10px 16px;
  margin-left: 8px;
  background-color: rgb(23, 128, 132);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.search-button:hover {
  background-color: rgb(47, 154, 158);
  box-shadow: 0 0 0 2px rgb(23, 128, 132);
}
.search-input:focus,
.search-button:focus {
  outline: none;
  border-color: cadetblue;
  box-shadow: 0 0 0 2px rgb(23, 128, 132);
}

.card-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.card-list {
  list-style: none;
  margin: 0;
  padding: 0;

}
.card-list li {
  margin: 20px 0;
}
.card-list a {
  display: block;
  background-color: #fff;
  color: #333;
  padding: 15px;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.card-list a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card-list h3 {
  margin: 0;
}

.card-list p {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.card-list p:last-child {
  margin-top: 10px;
}

.card-details {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  color: #999;
}

.card-details span {
  display: flex;
  align-items: center;
}

.card-details svg {
  margin-right: 0.5rem;
}


.btn {
  display: inline-block;
  background-color: rgb(23, 128, 132);
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(47, 154, 158);
  box-shadow: 0 0 0 2px rgb(23, 128, 132);
  color: #fff;
}

.btn-back {
  display: inline-block;
  background-color: #f4f4f4;
  color: #333;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 16px;
  box-shadow: 0 0 0 2px rgba(23, 128, 132, 0.6);
}
.btn-back:hover {
  box-shadow: 0 0 0 2px rgb(23, 128, 132);
  color: rgb(23, 128, 132);
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 25px;
  margin: 15px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 14px;
}

.create-form {
  background-color: rgb(121, 179, 181);
  display: inline-block;
  margin-top: 8px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 50%;
}
.create-form form {
  margin-top: 10px;
}
.create-form form input, 
.create-form form label span, 
.create-form form textarea {
  display: block;
  font-size: 14px;
}
.create-form form input, 
.create-form form textarea {
  margin-bottom: 15px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  /* width: 350px; */
}
.create-form form textarea {
  height: 120px;
}
textarea {
  resize:vertical;
  max-height: 200px;
  min-height: 42px;
}
.create-form form label span {
  margin-bottom: 10px;
}
/* button {
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  border: 2px solid white;
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
}
button:hover{
  border-color: #666;
}
button:active {
  background: #666;
} */

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: cadetblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

input[type=text], select, form input[type=text], form textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.blog-metadata {
  font-size: 14px !important;
}
